{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}GO GO CAR{% endblock %}

{% block head %}   <!--用来显示图标-->
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"     type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"     type="image/x-icon">
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        div{
            width: 80%;
            height: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
       <form method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.oldpassword) }}
            {{ wtf.form_field(form.newpassword) }}
            {{ wtf.form_field(form.newpassword2) }}
            {{ wtf.form_field(form.submit) }}
       </form>
    </div>
{% endblock %}